div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  background:#333;
  padding:20px;
}

div#footer a {
  color:#CCC;
  padding-left: 50px;
}

div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:#333;
  padding:8px;
  color:#CCC;
}

div#header a {
  color:#CCC;
  padding-left: 8%;
  padding-right: 5%;
}

div.content {
  padding-top: 55px;
}

input {
  margin-bottom: 20px;
}

