div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  background:#eaeff5;
  padding:20px;
}

div#footer a {
  color:#CCC;
  padding-left: 50px;
}

div#header {
  top:0px;
  left:0px;
  position:fixed;
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: left;
  cursor: pointer;
  color:#343a40;
  background-color: #EDF6F9;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

#heading {
  color: #006D77;
  margin-bottom: 0px;
  font-family: 'Gruppo', cursive;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
}
nav {
  padding: 2rem;
}

#nav h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#nav a {
  color:#006D77;
  margin-top: 3rem;
  padding-right: 2.5rem;
  padding-left: 1rem;
}

div.content {
  padding-top: 85px;
}

body {
  background-color: #E29578;
  font-family: 'Open Sans', sans-serif;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
}

div#search-box {
  padding: 2rem;
  /* padding-top: 50px; */
  background-color: #FFDDD2;
  text-align: center;
  margin-top: 12rem;
  display: center;
}
input.form-control{
  width: 10px;
}

div#home-lists {
  display: center;
  padding-bottom: 20px;
  /* text-align: center; */
}

ul li a {
  color:rgba(49, 91, 207, 0.831);
  font-weight: bold;
}

ul {
  margin: 20px;
}


