div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  background:#333;
  padding:20px;
}

div#footer a {
  color:#CCC;
  padding-left: 50px;
}

div#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:#343a40;
  padding:8px;
  color:#CCC;
}

div#header a {
  color:rgb(255, 255, 255);
  padding-left: 8%;
  padding-right: 5%;
}

div.content {
  padding-top: 85px;
}

body {
  background-color: rgba(255, 220, 184, 0.899);
}

h3#heading {
  padding: 25px;
  background-color: rgba(194, 210, 249, 0.831);
  margin-bottom: 0px;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
}

div#search-box {
  padding: 15px;
  padding-top: 15px;
  background-color: rgba(194, 210, 249, 0.831);
  text-align: center;
}

div#home-lists {
  display: center;
  padding-bottom: 20px;
  text-align: center;
}

#see-all-stylists {
  margin-right: 20px;
}

ul li a {
  color:rgba(49, 91, 207, 0.831);
  font-weight: bold;
}

ul {
  margin: 20px;
}


