/* universal */

body {
  background-color: #E29578;
  font-family: 'Open Sans', sans-serif;
}

.btn:hover {
  background-color: #006D77;
}

/* footer */

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  background:#eaeff5;
  height: 40px;
}

div#footer p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: .5rem;
}

/* navbar */

div#header {
  top:0px;
  left:0px;
  position:fixed;
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: left;
  cursor: pointer;
  color:#343a40;
  background-color: #EDF6F9;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

#heading {
  color: #006D77;
  margin-bottom: 0px;
  font-family: 'Gruppo', cursive;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
}

nav {
  padding: 1rem;
}

#nav h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#nav a {
  color:#006D77;
  margin-top: 3rem;
  padding-right: 2.5rem;
  padding-left: 1rem;
}

/* home index */

input {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.content {
  padding-top: 15rem;
}

div#search-box {
  padding: 2rem;
  /* padding-top: 50px; */
  background-color: #FFDDD2;
  text-align: center;
  display: center;
}

div#search-box img {
  height: 115px;
  margin: .5rem;
}

div#home-lists {
  display: center;
  padding-bottom: 20px;
  /* text-align: center; */
}

ul li a {
  color:rgba(49, 91, 207, 0.831);
  font-weight: bold;
}

ul {
  margin: 20px;
}

