@{
  Layout = "_Layout";
}
<h3 class="jumbotron jumbotron-fluid" id="heading">
  Eau   Claire's   Salon</h3>
<div id="search-box">
  @Html.ActionLink("See All Stylists", "Index", "Stylists", null, new {@class = "btn btn-outline-dark", @id = "see-all-stylists"})
  @using (Html.BeginForm("Search", "Stylists"))
  {
    <div class="input-group mb-3">
      @Html.TextBox("Name", null,  new { @class = "form-control" , @placeholder = "Search For A Stylist" })
      <div class="input-group-append">
        <input type="submit" value="Search" class="btn btn-outline-dark"/>
      </div>
    </div>
  }
  @Html.ActionLink("See All Clients", "Index", "Clients", null, new {@class = "btn btn-outline-dark"})
  @using (Html.BeginForm("Search", "Clients"))
  {
    <div class="input-group mb-3">
      @Html.TextBox("Name", null, new {@class = "form-control" , @placeholder = "Search For A Client" })
      <div class="input-group-append">
        <input type="submit" value="Search" class="btn btn-outline-dark"/>
      </div>
    </div>
  }
</div>
