@{
  Layout = "_Layout";
}
<div id="search-box">
  <img src="~/images/stylist.png" class="icons"/>
  @Html.ActionLink("See All Stylists", "Index", "Stylists", null, new {@class = "btn btn-outline-secondary", @id = "see-all-stylists"})

  @using (Html.BeginForm("Search", "Stylists"))
  {
    <div class="input-group mb-3">
      @Html.TextBox("Name", null,  new { @class = "form-control", @placeholder = "Search For A Stylist" })
      <div class="input-group-append">
        <input type="submit" value="Search" class="btn btn-outline-secondary"/>
      </div>
    </div>
  }

  <img src="~/images/client.png" class="icons" />
  @Html.ActionLink("See All Clients", "Index", "Clients", null, new {@class = "btn btn-outline-secondary"})

  @using (Html.BeginForm("Search", "Clients"))
  {
    <div class="input-group mb-3 col-sm-*">
      @Html.TextBox("Name", null, new { @class = "form-control", @placeholder = "Search For A Client" })
      <div class="input-group-append">
        <input type="submit" value="Search" class="btn btn-outline-secondary"/>
      </div>
    </div>
  }
</div>
